
<style>
    .hm{
        margin: 20px;
    }
</style>
<%-include("layout/header")%>
<main>
    <div class="hm">
        <h1>About Me</h1>
    <h5>Hi, I'm Tushar. Currently I'm studying BSc in CSE at Daffodil International University
        I want to be a software engineer. 
    </h5>
    <p>I am a highly motivated and dedicated Computer Science Engineering student with a passion for problem-solving and technology also developed a strong foundation in programming languages.
        Throughout my academic career, I'm demonstrate a keen interest in research and web development, with a focus on areas such as artificial intelligence, machine learning, and computer vision. I'm a quick learner and have a strong desire to continuously learn and grow in my field.</p>
    </div>
</main>
<%-include("layout/footer")%>

